body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

body::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../images/favicon.ico");
}
